.nav {
  padding: 10px 24px;
  box-shadow: 0px 10px 12px 3px rgba(71, 167, 68, 0.56);
  margin-bottom: 24px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.link:first-of-type {
  margin-right: 18px;
}

.link:hover,
.link:focus {
  color: #4fa94d;
}
.active {
  color: #4fa94d;
}
